<h5 class = 'border-bottom mb-5'>お題一覧</h5>
<div id="new-aruaru">
  <div class="row ml-3">
    <% @themes.each do |theme| %>
      <div class = "col-md-5 m-4">
        <div class = "mt-4">
          <h5>投稿者：<%= theme.user.name %></h5>
        </div>
        <h4><a class="d-block bg-dark d-flex align-items-center justify-content-center"style = "height: 250px"
          <%= link_to theme.content,  theme_url(theme) %></h4>
          
        <div class = "text-right pb-3 mt-4 border-bottom">
          <h5><%= theme.created_at.strftime('%Y/%m/%d') %> コメント数：<%= theme.comments.count %></h5>
        </div>
      </div>  
    <% end %>
  </div>
  <%= paginate @themes %>
</div> 