
<div class = "container">
  <div class = "row">
    <div class = " col-md-5">
      <div class = "mb-4 border-bottom border-dark">
        <h5>お題詳細ページ</h5>
      </div>
      <div class = "bg-dark d-flex align-items-center justify-content-center mb-4"style = "height: 250px">
        <h3 class = "text-white"><%= @theme.content %></h3>
      </div>
      <% if logged_in? %>
        <%= form_with(model: @comment, local: true) do |f| %>
        
          <% if @comment.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        
         <%= hidden_field_tag :theme_id, @theme.id %>
           <div class="form-group">
             <%= f.text_area :content, class: 'form-control' %>
           </div>
         <%= f.submit 'このお題に投稿する', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% else %>
       <p>※お題にコメントするには<%= link_to "ログイン", login_path %>または<%= link_to "新規登録", signup_path %>してください。</p>
      <% end %> 
      
      <div class = "text-center mb-5">
        <%= link_to "ホームへ戻る", root_path %>
      </div>
    </div>
    
    <div class = "col-md-5 offset-md-1">
      <div class = "mb-4 border-bottom border-dark">
        <h5>あるある一覧</h5>
      </div>
        <% @comments.each do |com| %>
          <div class = "border-bottom border-dark pb-3 mb-5">
            <% if com.id.present? %>
              <div class = "h6 lead text-center">
                <%= com.content %>
              </div>
              <div class = "mt-4 text-right">
                <p>投稿者：<%= com.user.name %>&emsp;&emsp;<%= @theme.created_at.strftime('%Y/%m/%d') %></p>
              </div>
              <% if logged_in? %>
                <div class = "text-right">
                  <%= render 'favorites/favorite_button', comment: com %>
                  <%= @likes_count %>
                </div>
              <% end %> 
            <% end %>
          </div>  
        <% end %>

        <%= paginate @comments %>
    </div>
  </div>
</div>


</div>
